In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
'''
FEATURES:
Overall action count/ratio          DONE
Overall day count                   DONE
Monthly action count/ratio          DONE
Penetration                     TODO
Monthly Aggregation             TODO
Double 11 Features                  DONE
Latest one-week                     DONE
Repeat Buyer Features           TODO
Age Related Features            TODO
Gender Related Features         TODO
'''

'\nFEATURES:\nOverall action count/ratio          DONE\nOverall day count                   DONE\nMonthly action count/ratio          DONE\nPenetration                     TODO\nMonthly Aggregation             TODO\nDouble 11 Features                  DONE\nLatest one-week                     DONE\nRepeat Buyer Features           TODO\nAge Related Features            TODO\nGender Related Features         TODO\n'

In [2]:
df = pd.read_csv("./use_data/expanded_training.csv")
df

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [3]:
df_cat = df[['cat_id']]
df_cat

     cat_id
0       656
1       656
2       656
3       656
4       656
..      ...
380    1181
381    1181
382    1181
383     962
384    1181

[385 rows x 1 columns]

In [4]:
#FEATURE 1: OVERALL ACTION COUNT/RATIO
actions = {}
for index, row in df.iterrows():
    if row['cat_id'] not in actions:
        # there may be multiple entries, so default with an empty list
        actions[row["cat_id"]] = [] 
    actions[row["cat_id"]].append(row["action_type"])

In [5]:
actions

{656.0: [0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1181.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1130.0: [0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 898.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 664.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 349.0: [0.0,
  2.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 1577.0: [0.0, 0.0],
 1075.0: [2.0, 0.0],
 614.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 602.0: [0.0, 0.0, 0.0, 0.0],
 962.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 611.0: [0.0],
 420.0: [0.0, 0.0, 0.0, 2.0],
 863.0: [0.0, 0.0, 0.0],
 1580.0: [0.0],
 1095.0: [0.0, 0.0],
 1188.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1023.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 1438.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 598.0: [3.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0],
 1505.0: [0.0, 0.0],
 267.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 530.0: [0.0],
 387.0: [0.0],
 1611.0: [0.0]}

In [6]:
action_count = {}
for key in actions.keys():
    action_count[key] = len(actions[key])
action_count

{656.0: 36,
 1181.0: 105,
 1130.0: 20,
 898.0: 85,
 664.0: 6,
 349.0: 21,
 1577.0: 2,
 1075.0: 2,
 614.0: 12,
 602.0: 4,
 962.0: 18,
 611.0: 1,
 420.0: 4,
 863.0: 3,
 1580.0: 1,
 1095.0: 2,
 1188.0: 30,
 1023.0: 6,
 1438.0: 6,
 598.0: 9,
 1505.0: 2,
 267.0: 7,
 530.0: 1,
 387.0: 1,
 1611.0: 1}

In [7]:
total_action_count = sum(action_count.values())
total_action_count

385

In [8]:
action_count_ratio = {}
for key in action_count:
    action_count_ratio[key] = action_count[key]/total_action_count
action_count_ratio

{656.0: 0.09350649350649351,
 1181.0: 0.2727272727272727,
 1130.0: 0.05194805194805195,
 898.0: 0.22077922077922077,
 664.0: 0.015584415584415584,
 349.0: 0.05454545454545454,
 1577.0: 0.005194805194805195,
 1075.0: 0.005194805194805195,
 614.0: 0.03116883116883117,
 602.0: 0.01038961038961039,
 962.0: 0.046753246753246755,
 611.0: 0.0025974025974025974,
 420.0: 0.01038961038961039,
 863.0: 0.007792207792207792,
 1580.0: 0.0025974025974025974,
 1095.0: 0.005194805194805195,
 1188.0: 0.07792207792207792,
 1023.0: 0.015584415584415584,
 1438.0: 0.015584415584415584,
 598.0: 0.023376623376623377,
 1505.0: 0.005194805194805195,
 267.0: 0.01818181818181818,
 530.0: 0.0025974025974025974,
 387.0: 0.0025974025974025974,
 1611.0: 0.0025974025974025974}

In [9]:
df_cat['cat action count'] = -1
df_cat['cat action count ratio'] = -1
for index,row in df_cat.iterrows():
        df_cat.at[index, 'cat action count'] = action_count[row['cat_id']]
        df_cat.at[index, 'cat action count ratio'] = action_count_ratio[row['cat_id']]

df_cat

C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\2069626344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['cat action count'] = -1
C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\2069626344.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['cat action count ratio'] = -1
C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\2069626344.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat.at[index, 'cat action count ratio'] = action_count_ratio[row['cat_id']]

     cat_id  cat action count  cat action count ratio
0       656                36                0.093506
1       656                36                0.093506
2       656                36                0.093506
3       656                36                0.093506
4       656                36                0.093506
..      ...               ...                     ...
380    1181               105                0.272727
381    1181               105                0.272727
382    1181               105                0.272727
383     962                18                0.046753
384    1181               105                0.272727

[385 rows x 3 columns]

In [10]:
#FEATURE 2: OVERALL DAY COUNT
days = {}

# go through user_seller sub-dataframe and split entries by cat_id:seller_id
for index, row in df.iterrows():
    if row['cat_id'] not in days:
        # there may be multiple entries, so default with an empty list
        days[row["cat_id"]] = [] 
    days[row["cat_id"]].append(row["time_stamp"])

In [11]:
for k,v in days.items():
    days[k] = list(set(v)) # make each value list unique
days

{656.0: [1105.0, 1109.0, 1110.0, 1111.0],
 1181.0: [1026.0,
  1101.0,
  1103.0,
  1106.0,
  1107.0,
  1108.0,
  1109.0,
  1110.0,
  1111.0],
 1130.0: [1103.0, 1104.0, 1105.0, 1107.0, 1108.0, 1109.0, 1111.0],
 898.0: [1030.0,
  617.0,
  522.0,
  524.0,
  529.0,
  1105.0,
  1107.0,
  1108.0,
  1109.0,
  1110.0,
  1111.0,
  603.0],
 664.0: [1105.0, 1108.0, 1109.0, 1111.0],
 349.0: [1105.0, 1109.0, 1111.0],
 1577.0: [520.0, 1110.0],
 1075.0: [1111.0],
 614.0: [1108.0, 1109.0, 1111.0],
 602.0: [1108.0, 1022.0, 1103.0],
 962.0: [1110.0, 1111.0],
 611.0: [1111.0],
 420.0: [1111.0],
 863.0: [1110.0, 1111.0],
 1580.0: [1111.0],
 1095.0: [528.0, 601.0],
 1188.0: [1103.0, 1105.0, 1106.0, 1108.0, 1109.0, 1110.0, 1111.0],
 1023.0: [801.0, 627.0, 804.0, 806.0],
 1438.0: [1111.0],
 598.0: [1026.0, 1101.0, 1110.0, 1111.0],
 1505.0: [1110.0],
 267.0: [1110.0, 1111.0],
 530.0: [1110.0],
 387.0: [1001.0],
 1611.0: [1111.0]}

In [12]:
day_count = {}
for key in days.keys():
    day_count[key] = len(days[key])
day_count

{656.0: 4,
 1181.0: 9,
 1130.0: 7,
 898.0: 12,
 664.0: 4,
 349.0: 3,
 1577.0: 2,
 1075.0: 1,
 614.0: 3,
 602.0: 3,
 962.0: 2,
 611.0: 1,
 420.0: 1,
 863.0: 2,
 1580.0: 1,
 1095.0: 2,
 1188.0: 7,
 1023.0: 4,
 1438.0: 1,
 598.0: 4,
 1505.0: 1,
 267.0: 2,
 530.0: 1,
 387.0: 1,
 1611.0: 1}

In [13]:
df_cat['cat day count'] = -1
for index,row in df_cat.iterrows():
        df_cat.at[index, 'cat day count'] = day_count[row['cat_id']]

df_cat

C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\2509590662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['cat day count'] = -1

     cat_id  cat action count  cat action count ratio  cat day count
0       656                36                0.093506              4
1       656                36                0.093506              4
2       656                36                0.093506              4
3       656                36                0.093506              4
4       656                36                0.093506              4
..      ...               ...                     ...            ...
380    1181               105                0.272727              9
381    1181               105                0.272727              9
382    1181               105                0.272727              9
383     962                18                0.046753              2
384    1181               105                0.272727              9

[385 rows x 4 columns]

In [14]:
df_11 = df[df['time_stamp']==1111]
df_11

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
9,141307,175,1181,4760,247.0,1111,0,4.0,1.0,0
10,141307,175,1181,4760,247.0,1111,0,4.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
375,289079,279,898,3323,683.0,1111,0,4.0,1.0,1
377,403117,175,1181,4760,247.0,1111,0,2.0,1.0,0
378,36385,219,349,1943,6208.0,1111,2,0.0,0.0,0
379,36385,219,349,1943,6208.0,1111,0,0.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0

In [15]:
actions_11 = {}

# go through user_seller sub-dataframe and split entries by cat_id:seller_id
for index, row in df_11.iterrows():
    if row['cat_id'] not in actions_11:
        # there may be multiple entries, so default with an empty list
        actions_11[row["cat_id"]] = [] 
    actions_11[row["cat_id"]].append(row["action_type"])

In [16]:
actions_11

{656.0: [0.0,
  0.0,
  2.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1181.0: [0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0],
 1130.0: [2.0, 0.0, 0.0, 2.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 898.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 349.0: [0.0,
  2.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 1075.0: [2.0, 0.0],
 614.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 962.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 611.0: [0.0],
 420.0: [0.0, 0.0, 0.0, 2.0],
 1580.0: [0.0],
 1188.0: [2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 1438.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 598.0: [0.0, 0.0, 2.0],
 863.0: [0.0],
 664.0: [0.0],
 267.0: [0.0, 2.0],
 1611.0: [0.0]}

In [17]:
action_count_11 = {}
for key in actions_11.keys():
    action_count_11[key] = len(actions_11[key])
action_count_11

{656.0: 30,
 1181.0: 67,
 1130.0: 11,
 898.0: 46,
 349.0: 17,
 1075.0: 2,
 614.0: 10,
 962.0: 13,
 611.0: 1,
 420.0: 4,
 1580.0: 1,
 1188.0: 12,
 1438.0: 6,
 598.0: 3,
 863.0: 1,
 664.0: 1,
 267.0: 2,
 1611.0: 1}

In [18]:
total_action_count_11 = sum(action_count_11.values())
total_action_count_11

228

In [19]:
action_count_ratio_11 = {}
for key in action_count_11:
    action_count_ratio_11[key] = action_count_11[key]/total_action_count_11
action_count_ratio_11

{656.0: 0.13157894736842105,
 1181.0: 0.29385964912280704,
 1130.0: 0.04824561403508772,
 898.0: 0.20175438596491227,
 349.0: 0.07456140350877193,
 1075.0: 0.008771929824561403,
 614.0: 0.043859649122807015,
 962.0: 0.05701754385964912,
 611.0: 0.0043859649122807015,
 420.0: 0.017543859649122806,
 1580.0: 0.0043859649122807015,
 1188.0: 0.05263157894736842,
 1438.0: 0.02631578947368421,
 598.0: 0.013157894736842105,
 863.0: 0.0043859649122807015,
 664.0: 0.0043859649122807015,
 267.0: 0.008771929824561403,
 1611.0: 0.0043859649122807015}

In [20]:
df_cat['cat 1111 action count'] = 0
df_cat['cat 1111 action count ratio'] = 0
for index,row in df_cat.iterrows():
        if row['cat_id'] in action_count_11.keys():
            df_cat.at[index, 'cat 1111 action count'] = action_count_11[row['cat_id']]
        if row['cat_id'] in action_count_ratio_11.keys():
            df_cat.at[index, 'cat 1111 action count ratio'] = action_count_ratio_11[row['cat_id']]

df_cat

C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\3830393506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['cat 1111 action count'] = 0
C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\3830393506.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['cat 1111 action count ratio'] = 0
C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\3830393506.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat.at[index, 'cat 1111 action count ratio'] = action_count_ratio_11[row['cat_id']]

,cat_id,cat action count,cat action count ratio,cat day count,cat 1111 action count,cat 1111 action count ratio
0,656,36,0.093506,4,30,0.131579
1,656,36,0.093506,4,30,0.131579
2,656,36,0.093506,4,30,0.131579
3,656,36,0.093506,4,30,0.131579
4,656,36,0.093506,4,30,0.131579
...,...,...,...,...,...,...
380,1181,105,0.272727,9,67,0.293860
381,1181,105,0.272727,9,67,0.293860
382,1181,105,0.272727,9,67,0.293860
383,962,18,0.046753,2,13,0.057018
384,1181,105,0.272727,9,67,0.293860

In [21]:
activity_ratio_1111 = {}
df_cat['cat 1111 activity ratio'] = 0
for index,row in df_cat.iterrows():
    if df_cat.at[index,'cat 1111 action count'] != 0:
        df_cat.at[index, 'cat 1111 activity ratio'] = (df_cat.at[index,'cat 1111 action count']/df_cat.at[index,'cat action count'])
df_cat

C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\934831560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['cat 1111 activity ratio'] = 0
C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\934831560.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat.at[index, 'cat 1111 activity ratio'] = (df_cat.at[index,'cat 1111 action count']/df_cat.at[index,'cat action count'])

,cat_id,cat action count,cat action count ratio,cat day count,cat 1111 action count,cat 1111 action count ratio,cat 1111 activity ratio
0,656,36,0.093506,4,30,0.131579,0.833333
1,656,36,0.093506,4,30,0.131579,0.833333
2,656,36,0.093506,4,30,0.131579,0.833333
3,656,36,0.093506,4,30,0.131579,0.833333
4,656,36,0.093506,4,30,0.131579,0.833333
...,...,...,...,...,...,...,...
380,1181,105,0.272727,9,67,0.293860,0.638095
381,1181,105,0.272727,9,67,0.293860,0.638095
382,1181,105,0.272727,9,67,0.293860,0.638095
383,962,18,0.046753,2,13,0.057018,0.722222
384,1181,105,0.272727,9,67,0.293860,0.638095

In [22]:
#FEATURE 10: LATEST ONE-WEEK
latest_week = 1104
df_latest_week = df[df['time_stamp']>=latest_week]
df_latest_week

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [23]:
actions_last_week = {}

# go through user_seller sub-dataframe and split entries by cat_id:seller_id
for index, row in df_latest_week.iterrows():
    if row['cat_id'] not in actions_last_week:
        # there may be multiple entries, so default with an empty list
        actions_last_week[row["cat_id"]] = [] 
    actions_last_week[row["cat_id"]].append(row["action_type"])
    
#for k,v in actions_last_week.items():
#    actions_last_week[k] = list(set(v)) # make each value list unique
actions_last_week

{656.0: [0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1181.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1130.0: [0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 898.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 664.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 349.0: [0.0,
  2.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 1075.0: [2.0, 0.0],
 614.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 962.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 611.0: [0.0],
 420.0: [0.0, 0.0, 0.0, 2.0],
 863.0: [0.0, 0.0, 0.0],
 1580.0: [0.0],
 1188.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1577.0: [0.0],
 1438.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 598.0: [3.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0],
 1505.0: [0.0, 0.0],
 267.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 530.0: [0.0],
 602.0: [0.0, 0.0],
 1611.0: [0.0]}

In [24]:
action_count_last_week = {}
for key in actions_last_week.keys():
    action_count_last_week[key] = len(actions_last_week[key])
action_count_last_week

{656.0: 36,
 1181.0: 101,
 1130.0: 19,
 898.0: 75,
 664.0: 6,
 349.0: 21,
 1075.0: 2,
 614.0: 12,
 962.0: 18,
 611.0: 1,
 420.0: 4,
 863.0: 3,
 1580.0: 1,
 1188.0: 29,
 1577.0: 1,
 1438.0: 6,
 598.0: 7,
 1505.0: 2,
 267.0: 7,
 530.0: 1,
 602.0: 2,
 1611.0: 1}

In [25]:
total_action_count_last_week = sum(action_count_last_week.values())
total_action_count_last_week

355

In [26]:
action_count_ratio_last_week = {}
for key in action_count_last_week:
    action_count_ratio_last_week[key] = action_count_last_week[key]/total_action_count_last_week
action_count_ratio_last_week

{656.0: 0.10140845070422536,
 1181.0: 0.28450704225352114,
 1130.0: 0.05352112676056338,
 898.0: 0.2112676056338028,
 664.0: 0.016901408450704224,
 349.0: 0.059154929577464786,
 1075.0: 0.005633802816901409,
 614.0: 0.03380281690140845,
 962.0: 0.05070422535211268,
 611.0: 0.0028169014084507044,
 420.0: 0.011267605633802818,
 863.0: 0.008450704225352112,
 1580.0: 0.0028169014084507044,
 1188.0: 0.08169014084507042,
 1577.0: 0.0028169014084507044,
 1438.0: 0.016901408450704224,
 598.0: 0.01971830985915493,
 1505.0: 0.005633802816901409,
 267.0: 0.01971830985915493,
 530.0: 0.0028169014084507044,
 602.0: 0.005633802816901409,
 1611.0: 0.0028169014084507044}

In [27]:
df_cat['cat last week action count'] = 0
df_cat['cat last week action count ratio'] = 0
for index,row in df_cat.iterrows():
        if row['cat_id'] in action_count_last_week.keys():
            df_cat.at[index, 'cat last week action count'] = action_count_last_week[row['cat_id']]
        if row['cat_id'] in action_count_ratio_last_week.keys():
            df_cat.at[index, 'cat last week action count ratio'] = action_count_ratio_last_week[row['cat_id']]

df_cat

C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\553739240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['cat last week action count'] = 0
C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\553739240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['cat last week action count ratio'] = 0
C:\Users\sonic\AppData\Local\Temp\ipykernel_30852\553739240.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat.at[index, 'cat last week action count ratio'] = action_count_ratio_last_week[row['cat_id']]

,cat_id,cat action count,cat action count ratio,cat day count,cat 1111 action count,cat 1111 action count ratio,cat 1111 activity ratio,cat last week action count,cat last week action count ratio
0,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408
1,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408
2,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408
3,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408
4,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408
...,...,...,...,...,...,...,...,...,...
380,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507
381,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507
382,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507
383,962,18,0.046753,2,13,0.057018,0.722222,18,0.050704
384,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507

In [28]:
activity_ratio_last_week = {}
df_cat['cat last week activity ratio'] = 0
for index,row in df_cat.iterrows():
    if df_cat.at[index,'cat last week action count'] != 0:
        df_cat.at[index, 'cat last week activity ratio'] = (df_cat.at[index,'cat last week action count']/df_cat.at[index,'cat action count'])
df_cat

,cat_id,cat action count,cat action count ratio,cat day count,cat 1111 action count,cat 1111 action count ratio,cat 1111 activity ratio,cat last week action count,cat last week action count ratio,cat last week activity ratio
0,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000
1,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000
2,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000
3,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000
4,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000
...,...,...,...,...,...,...,...,...,...,...
380,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905
381,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905
382,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905
383,962,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000
384,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905

In [29]:
#FEATURE 11: LATEST MONTH
latest_month = 1011
df_latest_month = df[df['time_stamp']>=latest_month]
df_latest_month

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [30]:
actions_last_month = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df_latest_month.iterrows():
    if row['cat_id'] not in actions_last_month:
        # there may be multiple entries, so default with an empty list
        actions_last_month[row["cat_id"]] = [] 
    actions_last_month[row["cat_id"]].append(row["action_type"])
    
#for k,v in actions_last_month.items():
#    actions_last_month[k] = list(set(v)) # make each value list unique
actions_last_month

{656.0: [0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1181.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1130.0: [0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 898.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 664.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 349.0: [0.0,
  2.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 1075.0: [2.0, 0.0],
 614.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 602.0: [0.0, 0.0, 0.0, 0.0],
 962.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 611.0: [0.0],
 420.0: [0.0, 0.0, 0.0, 2.0],
 863.0: [0.0, 0.0, 0.0],
 1580.0: [0.0],
 1188.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1577.0: [0.0],
 1438.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 598.0: [3.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0],
 1505.0: [0.0, 0.0],
 267.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 530.0: [0.0],
 1611.0: [0.0]}

In [31]:
action_count_last_month = {}
for key in actions_last_month.keys():
    action_count_last_month[key] = len(actions_last_month[key])
action_count_last_month

{656.0: 36,
 1181.0: 105,
 1130.0: 20,
 898.0: 76,
 664.0: 6,
 349.0: 21,
 1075.0: 2,
 614.0: 12,
 602.0: 4,
 962.0: 18,
 611.0: 1,
 420.0: 4,
 863.0: 3,
 1580.0: 1,
 1188.0: 30,
 1577.0: 1,
 1438.0: 6,
 598.0: 9,
 1505.0: 2,
 267.0: 7,
 530.0: 1,
 1611.0: 1}

In [32]:
total_action_count_last_month = sum(action_count_last_month.values())
total_action_count_last_month

366

In [33]:
action_count_ratio_last_month = {}
for key in action_count_last_month:
    action_count_ratio_last_month[key] = action_count_last_month[key]/total_action_count_last_month
action_count_ratio_last_month

{656.0: 0.09836065573770492,
 1181.0: 0.28688524590163933,
 1130.0: 0.0546448087431694,
 898.0: 0.20765027322404372,
 664.0: 0.01639344262295082,
 349.0: 0.05737704918032787,
 1075.0: 0.00546448087431694,
 614.0: 0.03278688524590164,
 602.0: 0.01092896174863388,
 962.0: 0.04918032786885246,
 611.0: 0.00273224043715847,
 420.0: 0.01092896174863388,
 863.0: 0.00819672131147541,
 1580.0: 0.00273224043715847,
 1188.0: 0.08196721311475409,
 1577.0: 0.00273224043715847,
 1438.0: 0.01639344262295082,
 598.0: 0.02459016393442623,
 1505.0: 0.00546448087431694,
 267.0: 0.01912568306010929,
 530.0: 0.00273224043715847,
 1611.0: 0.00273224043715847}

In [34]:
df_cat['last month action count'] = 0
df_cat['last month action count ratio'] = 0
for index,row in df_cat.iterrows():
        if row['cat_id'] in action_count_last_month.keys():
            df_cat.at[index, 'last month action count'] = action_count_last_month[row['cat_id']]
        if row['cat_id'] in action_count_ratio_last_month.keys():
            df_cat.at[index, 'last month action count ratio'] = action_count_ratio_last_month[row['cat_id']]

df_cat

,cat_id,cat action count,cat action count ratio,cat day count,cat 1111 action count,cat 1111 action count ratio,cat 1111 activity ratio,cat last week action count,cat last week action count ratio,cat last week activity ratio,last month action count,last month action count ratio
0,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361
1,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361
2,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361
3,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361
4,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361
...,...,...,...,...,...,...,...,...,...,...,...,...
380,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885
381,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885
382,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885
383,962,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180
384,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885

In [35]:
activity_ratio_last_month = {}
df_cat['last month activity ratio'] = 0
for index,row in df_cat.iterrows():
    if df_cat.at[index,'last month action count'] != 0:
        df_cat.at[index, 'last month activity ratio'] = (df_cat.at[index,'last month action count']/df_cat.at[index,'cat action count'])
df_cat

,cat_id,cat action count,cat action count ratio,cat day count,cat 1111 action count,cat 1111 action count ratio,cat 1111 activity ratio,cat last week action count,cat last week action count ratio,cat last week activity ratio,last month action count,last month action count ratio,last month activity ratio
0,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0
1,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0
2,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0
3,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0
4,656,36,0.093506,4,30,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0
381,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0
382,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0
383,962,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0
384,1181,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0

In [36]:
print("TOTAL ACTIONS: ", total_action_count)
print("TOTAL ACTIONS LATEST MONTH: ",total_action_count_last_month)
print("TOTAL ACTIONS LATEST WEEK: ",total_action_count_last_week)
print("TOTAL ACTIONS 1111: ",total_action_count_11)

TOTAL ACTIONS:  385
TOTAL ACTIONS LATEST MONTH:  366
TOTAL ACTIONS LATEST WEEK:  355
TOTAL ACTIONS 1111:  228